.Merah
{
    background: #ff000f;
    width: 4rem;
}
.Jingga
{
    background: #ffa00f;
    width: 5rem;
}
.Kuning
{
    background: #ffff0f;
    width: 6rem;
}
.Hijau
{
    background: #008000;
    width: 7rem;
}
.Biru
{
    background: #000fff;
    width: 8rem;
}
.Nila
{
    background: #6f00ff;
    width: 9rem;
}
.Ungu
{
    background: #bf00ff;
    width: 10rem;
}